@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@tailwind screens;

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .8px;
    word-spacing: .4px;
}